.formEditar{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}
.form-control{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.8);
}
.btnAcept{
    margin-bottom: 20px;
}
.lblTop{
    margin-top: 10px;
}
