/* Navbar link styling */

.navbar-nav .nav-link {
    color: black; /* Color negro para todos los enlaces */
    font-size: 30px; /* Tamaño de fuente más grande */
    text-shadow: -1px -1px 0 white,  
                  1px -1px 0 white,
                 -1px  1px 0 white,
                  1px  1px 0 white; /* Crear un efecto de borde blanco */
    padding: 10px 20px; /* Padding alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
    margin: 0 10px; /* Margen entre los enlaces */
}

/* Active link styling */
.navbar-nav .nav-link.active {
    color: red; /* Color para el enlace activo si es necesario */
}

/* Estilo para el botón "Iniciar Sesión" en la navbar */
.navbar .ms-auto .nav-link {
    color: black; /* Color del texto blanco */
    font-size: 20px; /* Tamaño de fuente más grande */
    padding: 10px 20px; /* Ajuste de padding */
    background-color: #9d0208; /* Color de fondo rojo */
    border: 2px solid white; /* Borde blanco de 2px */
    border-radius: 5px; /* Bordes redondeados */
}

/* Cambio de color al pasar el ratón */
.navbar .ms-auto .nav-link:hover {
    background-color: #ff3333; /* Color de fondo más claro al pasar el ratón */
    border-color: #ff3333; /* Color de borde más claro al pasar el ratón */
}

/* Navbar styling */
.navbar {
    background-color: transparent !important; /* Fondo de navbar transparente */
    --bs-bg-opacity: 0 !important; /* Opacidad del fondo a 0 */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    border-bottom: none; /* Sin borde inferior */
}

/* Logo styling */
.logo {
    width: 200px; /* Ancho del logo */
    height: auto; /* Altura automática manteniendo la proporción */
}

/* Body background styling */
body {
    background-image: url('../recursos/fondo3.jpg'); /* Imagen de fondo */
    background-size: cover; /* Cubre todo el tamaño del body */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-attachment: fixed; /* Fondo fijo al hacer scroll */
    font-family: Arial, sans-serif; /* Fuente del texto */
}

/* Button styling */
.btn-primary {
    background-color: red; /* Color de fondo rojo */
    border-color: red; /* Color de borde rojo */
    font-size: 30px; /* Tamaño de fuente más grande */
}

/* Estilo para el copyright en el footer */
.footer p {
    color: black; /* Color del texto negro */
    font-size: 24px; /* Tamaño de fuente más grande */
    text-shadow: -1px -1px 0 white,  
                  1px -1px 0 white,
                 -1px  1px 0 white,
                  1px  1px 0 white; /* Efecto de borde blanco */
}

/* Flexbox center alignment for footer */
.footer {
    backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque */
    padding: 20px; /* Ajusta el padding según sea necesario */
}


/* Carousel styling */
.carousel {
    /* Estilos adicionales para el carrusel */
}

/* Full width image styling */
.full-width-image img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
}
